.container{
    background-color: aliceblue;
    color: #000;
    width: 100% !important;
    padding: 20px;
}

.tableData{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-weight: 600;
}

.productContainer{
    text-align: center;
    background-color: blue;
}

.table{
    width: 100% !important;
}
.category{
    text-align: center;
    font-size: 25px;
}